@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Black.woff2") format("woff2"),
      url("./assets/fonts/Satoshi-Black.woff") format("woff");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply rounded-sm bg-metal border-none shadow-sm focus:ring-purple focus:ring-2;
  }
}

@layer component {
  body {
    font-family: "Inter", sans-serif;
  }
}
